<header>
    <img src="header.png" ALT " header "/>
	<h1> Pagina Web </h1>
    <link rel="stylesheet" type="text/css" href="estilos.css">
</header>
<nav>
    <ul>    
        <li> <a href = Index.html> Home </a></li>
        <li> <a href = Registro.html> Registro </a></li>
    </ul>
</nav>